section#cartas{
	min-height: 650px; 
}
section#cartas h1{
	text-align: center;
}
.card-container{
	width: 250px;
	height: 450px;
	border:solid 1px #cecece;
	float: left;
	text-align: center;
	margin: 25px 20px 25px 80px;
}
.card-container img{
	width: 250px;
	height: 300px;
	background-size: contain;
}
.card-container label{
	margin: 15px 0 0 0;
}
.card-container button{
	margin: 20px;
	border:none;
}
.card-container input[type="number"]{
	margin-left: 25px;
}
#pesquisa{
	width: 600px;
	height: 40px;
	margin: 25px 0 50px 400px;
	padding: 10px;

}
button#search{
	border: none;
	background: transparent;

}