@font-face{
	font-family: "Comfortaa-Bold";
	 src: url("../fonte/Comfortaa-Bold.ttf") format("truetype");
}	
*{
	padding: 0;
	margin: 0;
	list-style: none;

}
body{
	background-size:cover;
	background: url('../imagens/summoon.jpeg')no-repeat;
	background-position: center center;
	background-attachment: fixed;
	font-family: "Comfortaa-Bold";
	overflow-x: hidden;	
	-o-overflow-x: hidden;	
}
/* MENU */
#logo{
	width: 200px;
	height: 150px;
	background:url('../imagens/logosite.png')no-repeat;
	color: transparent;
	background-size: contain;
	padding: 0px 0px;
	margin-left: 50px;
	margin-top: -30px;

}
header#topo{
	width: 100%;
	height: 100px;
	background-color: #3b5aa6;
	display: block;
	padding: 50px 0px;

}
nav#menu ul{
	padding: 30px;
	margin: -40px 10px 0 200px;

}
nav#menu ul li{
	padding-left: 15px;
	display: inline;
	font-size: 18px;
}
nav#menu ul li a{
	color: #ffcb05;
	text-decoration: none;
}
.divi{
	color: red;
}
/*IMAGEM FRONT*/
#cover{
	width: 100%;
	height: 700px;

}
#logo-pokemon{
	width: 400px;
	height: 400px;
	background: url('../imagens/logopkmn.png');
	position: absolute;
	left: 500px;
	top: -50px;
}
#cadastro{
	margin: -140px 0 0 360px;
	text-shadow: 3px 3px 3px black;
	color: white;

}
#cadastro button{
	margin: 30px 0 0 200px;
	color: #ffcb05;
	background-color: #3b5aa6;
}
#cadastro h1{
	padding-top:400px; 
	font-size: 60px;
}
/*	Trocando conosco	*/
section#servicos{	
	padding: 130px 0 250px 0;
	background-color: white;
}
section#servicos h2{
	margin: 0 0 50px 0;
	text-align: center; 
}
section#servicos .texto{
	text-align: justify;
 	font-size: 16px;
 	display: none;
}
section#servicos .img{
	margin-left: 200px;
 	display: none;
}

/* COMO FUNCIONA */
section#como-funciona{
	height: 700px;
	color: white;
	text-shadow: 3px 3px 3px black;

}
section#como-funciona h1{
	text-align: center;
	font-size: 40px;
	color: white;

}
section#como-funciona h2{
	margin-left: 70px;
}
.setas{
	top: 150px;
	display: none;
}
.card{
	display: none;
}
/* RODAPÉ */
section#contato{
	text-align: center;
	padding: 50px 0 50px 0;
	background-color: white;
}
section#contato .gear{
	height: 600px;
	background: url('../imagens/pokeg.png')no-repeat;
	background-position: center center;
	transform: rotate(-7deg);
}
section#contato form{
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
section#contato form input{
	width: 340px;
	margin-bottom: 10px;
	padding: 2px;
}
section#contato label{
	margin-top: 10px;
	font-size: 19px;
}
section#contato button{
	background: transparent;
	border: none;
	margin-top: 20px;
	background-color: #3b5aa6;
	color: #ffcb05;
	width: 100px;
	border-radius: 2px;
	height: 40px;

}
section#contato button:hover{
	box-shadow: 4px 4px 4px  #cecece;
	background-color: #2b2b83;
}

footer#rodape{
	background-color: #3b5aa6;
	padding: 50px 50px;
	line-height: 30px;
}
.links ul li{
	float: left;
	padding: 15px;

}
.fa{
	color: white;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ffcb05;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
