@font-face{
	font-family: "Comfortaa-Bold";
	 src: url("../fonte/Comfortaa-Bold.ttf") format("truetype");
}	
*{
	margin:0;
}
#logo{
	width: 100px;
	height: 90px;
	background: url('../imagens/logosite.png')no-repeat;
	background-size: contain;
	
}
header#topo{
	width: 100%;
	height: 80px;
	background-color: #3b5aa6;
	box-shadow: 1px 1px 3px black;
}
nav#menu ul{
	padding: 30px;
	margin: 0 0 0 240px;
}
nav#menu ul li{
	padding-left: 15px;
	display: inline;
	font-size: 18px;
}
nav#menu ul li a{
	color: #ffcb05;
	text-decoration: none;
}
section{
	margin-top: 20px;
}
section.corpo{
	min-height: 650px;
	height: auto;
}
section#conteudo-inicial{
	margin-top: 80px;
}
footer{
	width: 100%;
	height: 50px;
	background-color: #3b5aa6;
	line-height: 30px;
	clear: both;
	position: relative;
	bottom: 0;
}
button{
	background-color: white;
	border:none;
}
.erro{
	height: 300px;
}