@font-face{
	font-family: "Comfortaa-Bold";
	 src: url("../fonte/Comfortaa-Bold.ttf") format("truetype");
}
body{
	background-size:cover;
	background: url('../imagens/summoon.jpeg')no-repeat;
	background-position: center center;
	background-attachment: fixed;
	font-family: "Comfortaa-Bold";
	overflow-x: hidden;	
	-o-overflow-x: hidden;	
}
section#cont #logo{
	width: 80px;
	height: 80px;
	background:url('../imagens/logosite.png')no-repeat;
	color: transparent;
	background-size: contain;
	padding: 0px 0px;
	margin-left: 50px;
	margin-top: 20px;
	float: left;
}
section#cont #logo-label{
	font-size: 30px;
	color: #3b5aa6;
	margin: 40px 0 0 5px;
	text-shadow: 1px 1px 1px black;
	float: left;
}
section#cont h1{
	font-size: 50px;
	color: #3b5aa6;
	text-shadow: 2px 2px 2px black;
	padding-top: 100px;
	margin-bottom: 20px;
	
}
section#cont p{
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px black;
	text-align: justify;
}

.box-login{
	width: 400px;
	height: 400px;
	text-align: center;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 10px;
	margin-left: 30px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 2px black;
}
.page-header{
	text-align: center;
	padding-top: 1px;
}
form .input{
	margin: 5px 0 5px 0px;
	width: 250px;
}
form input[type="radio"]{
	margin: 0 0px 10px 0px;
}
form label{
	font-size: 20px;
	color:#3b5aa6;
	font-weight: bold;

}
form button{
	border:none;
	margin: 30px 0 30px 0px;
	background-color: #3b5aa6;
	color: #ffcb05;
	width: 100px;
	border-radius: 2px;
	height: 40px;
}