@font-face{
	font-family: "Comfortaa-Bold";
	 src: url("../fonte/Comfortaa-Bold.ttf") format("truetype");
}	
body{
	overflow-y: hidden;
	background-size:cover;
	background: url('../imagens/summoon.jpeg')no-repeat;
	background-position: center center;
	background-attachment: fixed;
	font-family: "Comfortaa-Bold";
}
.fa {
 	position: relative;
 	top: 20px;
 	color: #3b5aa6;
 }
.cadastro{
	padding: 40px;
}

span.logo{
	width: 180px;
	height: 130px;
	display: block;
	position: absolute;
	top: 10px;
	left: 470px;
	background: url('../imagens/logopkmn.png')no-repeat;
	background-size: cover;
}
fieldset{
	text-align: center;
	margin: auto;
	padding: 40px 50px;
	margin-bottom: 10px;
	width: 500px;
	height: 550px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 2px black;
}
form .input{
	margin: 5px 0 5px 0;
	width: 250px;
}
form input[type="radio"]{
	margin: 0 0px 10px 0px;
}
form label{
	font-size: 20px;
	color:#3b5aa6;
	font-weight: bold;
}
form h1{
	color: white;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	margin:  -30px 0 50px 0;
}
form button{
	border:none;
	margin-top: 30px;
	background-color: #3b5aa6;
	color: #ffcb05;
	width: 100px;
	border-radius: 2px;
	height: 40px;
}
div#endereco{
	display: none;
}