@font-face{
	font-family: "Comfortaa-Bold";
	src: url("../fonte/Comfortaa-Bold.ttf") format("truetype");
}	
*{
	margin: 0;
	padding: 0;
	font-family: "Comfortaa-Bold";
}

section#editar-perfil{
	height: auto;

}

section#editar-perfil h1{
	text-align: center;
}
.form-update{
	border-right: solid black 1px;
	width: 100%;
	height: 400px;
	display: block;

}
section#editar-perfil form input{
	margin: 20px 30% 15px 20%;
	padding: 3px;
	width: 300px;
}
section#editar-perfil form button.edit{
	margin: 60px 0 50px 200px;
	background-color: #3b5aa6;
	color: #ffcb05;
	width: 80px;
	height: 40px;
	border:none;
	border-radius: 3px;
}
section#editar-perfil #input_file{
	margin: 30px 0 0 0;
}
section#editar-perfil span{
	font-size: 18px;
}
.border-none{
	border-right: none;
}
section#editar-perfil form button .excluir{
	background-color: white;
	border: none;
}