section#conteudo-inicial #bem-vindo{
	margin: 0 0 50px 30px;
	top: -30px; 
}
#usuario-bola{
	width: 30px;
	height: 30px;
	display: block;
	float: left;
}
.box-conteudo{
	width: 300px;
	height: 250px;
	border: 1px solid black;
	margin: 0 20px 0 35px;
	float: left;
	border-radius: 2px;
	margin-bottom: 50px;
	background-color: #3b5aa6;
}
.box-conteudo:hover{
	box-shadow: 1px 1px 3px black;
	
}
.box-conteudo a{
	text-decoration: none;
	color: white;
}
.box-conteudo h3{
	text-align: center;
	
}
.box-conteudo .fa{
	margin: 50px 110px 0 110px;
	color: white;
}
.trocas-home{
	border-top: solid 2px #cecece;
	border-bottom: solid 2px #cecece;
	height: 400px;
	margin-bottom: 50px;
}
