@font-face{
	font-family: "Comfortaa-Bold";
	 src: url("../fonte/Comfortaa-Bold.ttf") format("truetype");
}
body{
	background-color: #3b5aa6;
	font-family: "Comfortaa-Bold";
}
nav#menu ul{
	padding: 30px;
	margin: 0 0 0 400px;
}
nav#menu ul li{
	padding-left: 15px;
	display: inline;
	font-size: 18px;
}
nav#menu ul li a{
	color: #ffcb05;
	text-decoration: none;
}
nav#menu ul li a:hover{
	color: #3b5aa6;
}
.box-login{
	width: 350px;
	height: 250px;
	background-color: white;
	margin: auto;
	margin-top: 150px;
	padding-top: 50px;
	box-shadow: 2px 2px 2px black;
	border-radius: 2px 2px 2px;
	border: 3px solid #ffcb05;

}
form label{
	margin-left: 50px;
	font-size: 20px;
	color: #3b5aa6;
}

form input[type="text"], form input[type="password"], input[type="number"]{
	width: 250px;
	height: 20px;
	margin: 20px 20px 20px 40px;
}
form input[type="radio"]{
	margin: 20px 20px 20px 20px;
}
form input[type="file"]{
	margin: 20px 20px 20px 40px;
}
textarea{
	margin-top: 20px;
}
form button{
	width: 90px;
	height: 40px;
	margin-left: 130px;
	margin-top: 10px;
	border:none;
	background-color: #3b5aa6;
	color: #ffcb05;
	border-radius: 2px 2px 2px;
	box-shadow: 1px 1px 1px black;

}
section#corpo{
	width: 1200px;
	height: auto;
	background-color: white;
	margin: auto;
	box-shadow: 2px 2px 2px black;
	border-radius: 2px 2px 2px;
	border: 3px solid #ffcb05;
	margin-top: 30px;
	padding-bottom: 50px;

}
.box-cadastro{
	width: 500px;
	height: auto;
	border:1px solid black;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}
.box-cadastro form label {
	margin-left: 0;
}
.cad-card{
	margin-right: 130px;
	margin-top: 40px;
}
#cadastro-moves, #cadastro-pokemon{
	display: none;
	margin: auto;
}
#cadastro-carta{
	margin: auto;
}